<style>
    .icon-raptor-book{
        background-position: -40px -40px !important;
    }
</style>
<li class="nav-item">
    <a class="nav-link" href="{{ path("_raptor_apidoc") }}" target="blank"><i class="icon-raptor-book icon-white" style="margin-right: 5px"></i>Doc {{ version }}</a>
</li>
