
<div class="container-fluid">
    <h1><img src="{{ asset('AtencionOnline/UiComercial/identity/title.png') }}" height="100"></h1>
    <h3 class="text-center">Bienvenido al sistema open AO</h3>
    <hr>
    <p>Open AO es el proyecto abierto de AtenciónOnline, dirigido a ofrecer una alternativa abierta
    del sistema que comprende la gestión de incidencias de cualquier actividad de servicio.</p>
    
    <p>Esta versión es mantenida por el Proyecto Raptor, desarrollada bajo licencia MIT y utilizando la tecnología de la serie 3 del proyecto.
        La plataforma podrá ser modificada y adaptada a cada una de las necesidades siempre respetando el 
        derecho de los autores originales de la obra así como el nombre establecido para la misma.
    </p>
    <br>
    <h4>Gestión de incidencias</h4>
    <hr>
    <p>La información relativa a los datos personales del usuario que presenta una sugerencia o queja 
        no deberá hacerse pública, salvo en casos en que fuera absolutamente necesario para su resolución, 
        y sólo debe divulgarse bajo el consentimiento del cliente.</p>
    
    <p>El proceso de gestión de sugerencias y especialmente quejas, debe ser justo y objetivo tanto para el 
        usuario que accede al sistema como para la persona, organización o área sobre la que recae. Todas las
        quejas deben ser tratadas e investigadas de forma legítima y sin prejuicios. Los clientes y/o 
        usuarios y la entidad deben actuar con objetividad, imparcialidad y justicia a lo largo del proceso.</p>
</div>

