<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownSyntarsus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-raptor-bundle-create icon-white" style="margin-right: 5px"></i>Syntarsus</a>
    <div class="dropdown-menu" aria-labelledby="dropdownSyntarsus">
        <a class="dropdown-item" href="#!f/syntarsus/user">Usuarios</a>
        <a class="dropdown-item" href="#!f/syntarsus/rol">Roles</a>
        <a class="dropdown-item" href="#!f/syntarsus/privilege">Privilegios</a>
        <a class="dropdown-item" href="#!f/syntarsus/estructure">Estructuras</a>
        <a class="dropdown-item" href="#!f/syntarsus/category">Categorías</a>
        <a class="dropdown-item" href="#!f/syntarsus/auditories">Auditoría</a>
        <div class="dropdown-divider" href="#"></div>
        <a class="dropdown-item" href="#!f/raptor/syntarsus/api">API de servicios de seguridad</a>
    </div>
</li>
