<h3>Información a los especialistas</h3>
<p style="margin-top:5px;margin-bottom:5px;">Ahora los clientes pueden revisar en el formulario público<br>
si su incidencia ha sido atendida, tramitada y respondida, además<br>
del especialista que le dió recepcepción a la misma.
</p>