{% extends "@systemBundle/template.html.twig" %}
{% block content %}
<div class="container" style="padding: 20px;" >
     <h1>SAML Configuration</h1>
       
        <br>
        
        <div class="row" style="">
        <div class="span12">
            {% if state==true %}
                <h2 class="label label-success">The SAML component has been activated</h2>
                <br>
                <h3 class="">with base url {{ base }}</h3>
           {% else %}
         
            <h2 class="label label-danger">The SAML component has been deactivated</h2>
           {% endif %}
        </div>
       </div>
    </div> 

{% endblock %}

{% block script %}
<script type="text/javascript">
        $(document.body).ready(function(){
           
            $(window.parent.document.body).find('#tabla').height($(document.body).outerHeight(true));
           
        });
        
        </script> 
{% endblock %}


