/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-sep-2014, 9:43:37
    Author     : amed
*/

.loadSys{
    background: rgba(255,255,255,0.4);
   
    top: 50%;
    left: 50%;
    margin-left: -5%;
    position: absolute;
    padding: 15px;
    text-align: center;
}

.message-portal{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.widget{
    background:white;padding:10px;float:right;margin:10px;width:400px;
}

  .registro-desktop{
    background:url("../images/atencion/registro.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .reporte-desktop{
    background:url("../images/atencion/grafico.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .tramite-desktop{
    background:url("../images/atencion/tramite.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .archivo-desktop{
    background:url("../images/atencion/archivo.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .online-desktop{
    background:url("../images/atencion/online.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .estadistica-desktop{
    background:url("../images/atencion/estadistica.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .seguridad-desktop{
    background:url("../images/seguridad/seguridad.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .seguridad-user-desktop{
    background:url("../images/seguridad/usuario.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .seguridad-rol-desktop{
    background:url("../images/seguridad/rol.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .seguridad-privilegio-desktop{
    background:url("../images/seguridad/privilegio.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .seguridad-categoria-desktop{
    background:url("../images/seguridad/categoria.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .seguridad-estructuras-desktop{
    background:url("../images/seguridad/estructuras.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .seguridad-auditoria-desktop{
    background:url("../images/seguridad/auditoria.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .nomenclador-tipo-desktop{
    background:url("../images/nomenclador/tipo.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .nomenclador-nomenclador-desktop{
    background:url("../images/nomenclador/nomenclador.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .nomenclador-comunicacion-desktop{
    background:url("../images/nomenclador/comunicacion.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }
  .nomenclador-clasificador-desktop{
    background:url("../images/nomenclador/clasificador.png") no-repeat scroll 0px 0px !important;
    background-size: 100% 100% !important;
  }

